<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avectris.curatapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CuratApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.verify.VerifyActivity"
            android:label="Splash"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="22d4614fff80c524f8d3b07d3501fedd20385f40" />
    </application>

</manifest>
